
        .yellow-text {
            color: rgb(255, 255, 0);
        }
        .black-text {
            color: rgb(0, 0, 0); 
        }
        .purple-text {
            color: rgb(128, 0, 128); 
        }
        .brown-text {
            color: rgb(100, 42, 42); 
        }