.container {
    width: 100%;
    height: 500px; 
}

.h1-10 {
    width: 10%;
    height: 10%;
}

.h1-20 {
    width: 20%;
    height: 20%;
}

.h1-30 {
    width: 30%;
    height: 30%;
}

.h1-40 {
    width: 40%;
    height: 40%;
}

.h1-50 {
    width: 50%;
    height: 50%;
   
}

